services:
  postgres:
    image: postgres:18 
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin

# docker compose up -> the problem is the if we press ctrl+ c then this container stop 
# docker compose up -d -->run this container in background
#  to stop it we can use docker compose down